*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --main: #FDF24C;
    --main_complement: #4c57fd;
    --border: #E0E0E0;
    --placeholder: #828282;
    --error: #CD2F2F;
    --info:  #2FA7CD;
    --valid: #2FCD8B;
    --link:  #2f4ccd;
    --link_hover:  #1d3396;
    --grey: #444444;
}

.alert
{
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    margin: 8px 0;
}

.alert .message
{
    margin-left: 8px;
    line-height: 1.7;
}

.alert-erreur
{
    background: var(--error);
}

.alert-succes
{
    background: var(--valid);
}

.alert-info
{
    background: var(--info);
}

.navbar
{
    padding: 16px 32px;
    border-bottom: 2px solid var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 2;
}

.navbar .bloc-logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .bloc-logo img
{
    width: 50px;
}

.navbar .bloc-logo span
{
    margin-left: 8px;
}

.navbar .bloc-lien
{
    display: flex;
    align-items: center;
}

.navbar .bloc-lien a
{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 0 8px;
}

.navbar .bloc-lien .avatar
{
    width: 40px;
    height: 40px;
    position: relative;
}

.navbar .bloc-lien .avatar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 8px;
    object-fit: cover;
    border-radius: 100%;
}

footer
{
    background: #363636;
    color: #FFF;
    padding: 100px 32px;
    text-align: center;
}

footer .footer-social
{
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer-social .material-icons
{
    font-size: 50px;
}

footer .footer-liens
{
    margin-top: 32px;
}

footer .footer-liens a
{
    color: #FFF;
    text-decoration: none;
    padding: 0 32px;
}

footer .footer-copyright
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

footer .footer-copyright .material-icons
{
    margin-right: 8px;
}

.container-connexion
{
    background: url('../img/bg-login.jpg');
}

.container-inscription
{
    background: url('../img/bg-register.jpg');
}

.container-connexion,
.container-inscription
{
    padding: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bloc-connexion
{
    width: 25%;
}

.bloc-inscription
{
    width: 40%;
}

.container-inscription .bloc-formulaire
{
    margin: 100px 0;
}

.bloc-formulaire
{
    margin: 100px auto;
    padding: 32px 64px;
    background: #ffffffe8;
    border-radius: 5px;
}

.bloc-formulaire .bloc-logo,
.bloc-formulaire h1
{
    text-align: center;
}

.bloc-inscription .phrase-accroche
{
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
}

.bloc-formulaire .input-form
{
    padding: 16px 0;
}

.bloc-formulaire .input-form.double-input
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.bloc-formulaire .input-form input,
.bloc-formulaire .input-form textarea
{
    display: block;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bloc-formulaire .input-form input:focus,
.bloc-formulaire .input-form textarea:focus
{
    border: 1px solid var(--info);
}

.bloc-connexion .input-form .mot-de-passe-oublie
{
    font-size: 12px;
}

.bloc-formulaire .btn-formulaire
{
    width: 100%;
    padding: 16px;
    font-weight: 700;
    background: none;
    border: none;
    border-radius: 5px;
    background: var(--main_complement);
    color: #FFF;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 32px;
}

.bloc-formulaire .bloc-non-membre
{
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
}

.bloc-formulaire .bloc-non-membre a
{
    color: var(--link);
    font-weight: 600;
    text-decoration: none;
}

.bloc-formulaire .bloc-non-membre a:hover
{
    color: var(--link_hover);
    text-decoration: underline;
}

.bloc-formulaire .bloc-social
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.bloc-formulaire .bloc-social .btn-social
{
    background: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}

.bloc-formulaire .bloc-social .btn-social img
{
    width: 20px;
    margin-right: 8px;
}

.bloc-formulaire .bloc-social .btn-social.btn-facebook
{
    border: 2px solid #3b5998;
    color: #3b5998;
}

.bloc-formulaire .bloc-social .btn-social.btn-facebook:hover
{
    background: #3b5998;
    color: #FFF;
    transition-duration: .3s;
}

.bloc-formulaire .bloc-social .btn-social.btn-google
{
    border: 2px solid var(--border);
    color: #000;
}

.bloc-formulaire .bloc-social .btn-social.btn-google:hover
{
    background: var(--border);
    transition-duration: .3s;
}

.container-liste-plats
{
    padding: 100px 32px;
    width: 70%;
    margin: 0 auto;
}

.container-liste-plats .liste-plats
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
}

.container-liste-plats .liste-plats .card
{
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 4px hsla(0,0%,73%,.5);
    margin-bottom: 32px;
}

.container-liste-plats .liste-plats .card .card-img-top
{
    position: relative;
    height: 250px;
}

.container-liste-plats .liste-plats .card .card-img-top .bloc-filtre
{
    z-index: 1;
}

.container-liste-plats .liste-plats .card .card-img-top img,
.container-liste-plats .liste-plats .card .card-img-top .bloc-filtre
{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-liste-plats .liste-plats .card .card-img-top .card-titre-plat
{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 16px;
    padding: 8px;
    z-index: 1;
    text-transform: capitalize;
    background: #FFF;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

.container-liste-plats .liste-plats .card .card-body
{
    padding: 16px;
}

.container-liste-plats .liste-plats .card .card-top 
{
    padding: 8px 0;
}

.container-liste-plats .liste-plats .card .card-posteur-plat
{
    font-size: 13px;
    color: var(--grey);
    margin-bottom: 8px;
}

.container-liste-plats .liste-plats .card .card-recommandations
{
    font-size: 11px;
    margin-bottom: 8px;
    color: var(--valid);
    font-weight: 500;
}

.container-liste-plats .liste-plats .card .card-prix-plat
{
    font-weight: 600;
    font-size: 12px;
}

.container-liste-plats .liste-plats .card .card-adresse-plat
{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    margin-top: 8px;
}

.container-liste-plats .liste-plats .card .card-description
{
    font-size: 12px;
    color: var(--grey);
    padding: 8px 0;
}

.container-liste-plats .liste-plats .card .card-titre
{
    font-weight: 500;
    padding: 8px 0;
    font-size: 14px;
    border-top: 1px solid var(--border);
}

.container-liste-plats .liste-plats .card .card-disponibilite
{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 4px;
}

.container-liste-plats .liste-plats .card .card-disponibilite .material-icons
{
    color: var(--grey);
    margin-right: 8px;
}

.container-liste-plats .liste-plats .card .card-date-publication
{
    padding: 8px 0;
    text-align: right;
    font-size: 12px;
    color: var(--grey);
}

.container-liste-plats .liste-plats .card .card-footer
{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container-liste-plats .liste-plats .card .card-footer .card-button
{
    border: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4px;
    font-size: 12px;
}

.container-liste-plats .liste-plats .card .card-footer .card-button .material-icons
{
    margin-right: 8px;
    font-size: 22px;
}

.container-liste-plats .liste-plats .card .card-footer .card-button.btn-main
{
    border: 1px solid var(--main_complement);
    background: none;
    color: var(--main_complement);
}

.container-liste-plats .liste-plats .card .card-footer .card-button.btn-secondary
{
    background: var(--border);
    color: #000;
    text-decoration: none;
}

.container-plat
{
    padding: 100px 32px;
}

.container-plat .bloc-plat 
{
    width: 50%;
    margin: 0 auto;
}

.container-plat .bloc-plat .bloc-plat-top
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-image-plat
{
    width: 100%;
    height: 0;
    padding-top: 55.25%;
    position: relative;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat
{
    padding: 16px;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-titre
{
    font-weight: 500;
    font-size: 13px;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur
{
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur .bloc-image-vendeur
{
    width: 50px;
    height: 0;
    padding-top: 50px;
    position: relative;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur .bloc-image-vendeur img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur .bloc-infos
{
    padding: 0 8px;
    font-size: 12px;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur .bloc-infos .nom-vendeur
{
    font-weight: 600;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-informations-vendeur .bloc-infos .avis-vendeur
{
    margin-top: 4px;
    color: var(--valid);
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-actions
{
    padding: 16px 0;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-vendeur-plat .bloc-actions button
{
    width: 100%;
    padding: 12px 0;
    border: none;
    background: var(--main);
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.container-plat .bloc-plat .bloc-plat-top .bloc-image-plat img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.container-plat .bloc-plat .bloc-informations-plat,
.container-plat .bloc-plat .bloc-description-plat
{
    padding: 32px 0;
    border-bottom: 1px solid var(--border);
}

.container-plat .bloc-plat .bloc-informations-plat .btn-main
{
    border: 1px solid var(--main_complement);
    background: none;
    color: var(--main_complement);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 12px;
}

.container-plat .bloc-plat .bloc-informations-plat .btn-main .material-icons
{
    margin-right: 8px;
}

.container-plat .bloc-plat .bloc-informations-plat .bloc-titre-plat
{
    font-weight: 500;
    font-size: 20px;
}

.container-plat .bloc-plat .bloc-informations-plat .bloc-prix-plat
{
    margin-top: 16px;
    font-weight: 600;
    color: var(--main_complement);
}

.container-plat .bloc-plat .bloc-informations-plat .bloc-date-post
{
    font-size: 12px;
    margin-top: 16px;
}

.container-plat .bloc-plat .bloc-description-plat .bloc-titre-categorie
{
    font-weight: 600;
}

.container-plat .bloc-plat .bloc-description-plat .bloc-description
{
    line-height: 1.5em;
    font-size: 14px;
    padding-top: 32px;
}

.container-plat .bloc-plat .bloc-adresse-plat
{
    border-top: 1px solid var(--border);
    padding: 32px 0;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 12px;
}

.container-plat .bloc-plat .bloc-map
{
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 16px;
}

.container-plat .bloc-plat .bloc-map img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-ajout-plat
{
    padding: 100px 32px;
}

.container-ajout-plat .bloc-formulaire
{
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 640px) 
{
    .container-connexion,
    .container-inscription
    {
        padding: 8px;
    }

    .bloc-formulaire
    {
        width: 100%;
        padding: 32px 16px;
    }

    .bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }

    .container-liste-plats
    {
        width: 90%;
        padding: 100px 8px;
    }

    .container-liste-plats .liste-plats
    {
        grid-template-columns: 1fr;
    }

    .container-liste-plats .liste-plats .card .card-footer
    {
        display: block;
    }

    .container-liste-plats .liste-plats .card .card-footer .card-button
    {
        margin-bottom: 4px;
        width: 100%;
        justify-content: center;
    }

    .container-plat .bloc-plat
    {
        width: 100%;
    }

    .container-plat .bloc-plat .bloc-plat-top
    {
        display: block;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px)
{
    .bloc-formulaire
    {
        width: 70%;
    }

    .bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }

    .container-plat .bloc-plat
    {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px)
{
    .bloc-formulaire
    {
        width: 40%;
    }

    .bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }

    .container-liste-plats
    {
        width: 90%;
    }

    .container-plat .bloc-plat
    {
        width: 90%;
    }
}