/*************************************************************

    GENERAL

**************************************************************/

*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    --main: #FDF24C;
    --main_hover: #fddc4c;
    --main_darker: #fdb64c;
    --main_lighter: #f8f18d;
    --main_complement: #4c57fd;
    --border: #E0E0E0;
    --placeholder: #828282;
    --error: #ec4444;
    --warning: #f8981a;
    --info:  #2FA7CD;
    --valid: #2FCD8B;
    --link:  #2f4ccd;
    --link_hover:  #1d3396;
    --grey: #444444;
}

.site-content
{
    flex-grow: 1;
}

.button
{
    padding: 12px 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.alert
{
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    margin: 16px 0;
}

.alert .message
{
    margin-left: 8px;
    line-height: 1.7;
}

.alert-erreur
{
    background: var(--error);
}

.alert-succes
{
    background: var(--valid);
}

.alert-info
{
    background: var(--info);
}

.alert-warning
{
    background: var(--warning);
}

.navbar
{
    padding: 16px 32px;
    /*border-bottom: 2px solid var(--main);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}

.navbar .bloc-logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .bloc-logo img
{
    width: 100px;
}

.navbar .bloc-logo span
{
    margin-left: 8px;
}

.navbar .bloc-liens
{
    display: flex;
    align-items: center;
}

.navbar .bloc-liens a
{
    color: #000;
    text-decoration: none;
}

.navbar .bloc-liens .btn-connexion
{
    background: var(--main_complement);
    border: 1px solid var(--main_complement);
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition-duration: .3s;
}

.navbar .bloc-liens .btn-connexion:hover
{
    background: #FFF;
    border: 1px solid var(--main_complement);
    color: var(--main_complement);
    transition-duration: .3s;
}

.navbar .bloc-liens .bloc-notifications,
.navbar .bloc-liens .bloc-messages
{
    padding: 0 16px;
    position: relative;
}

.navbar .bloc-liens .bloc-notifications .notification,
.navbar .bloc-liens .bloc-messages .notification
{
    position: absolute;
    bottom: 0;
    right: 8px;
    background: var(--main_darker);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
}

.navbar .bloc-liens .bloc-utilisateur
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    border-left: 1px solid var(--border);
    padding: 0 8px;
    text-transform: uppercase;
}

.navbar .bloc-liens .bloc-avatar
{
    position: relative;
    width: 50px;
    height: 0;
    padding-bottom: 50px;
    margin-right: 8px;
}

.navbar .bloc-liens .bloc-avatar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--main_darker);
    padding: 2px;
}

.navbar .bloc-liens .dropdown-utilisateur
{
    cursor: pointer;
}

.navbar .bloc-dropdown-utilisateur
{
    display: none;
    position: absolute;
    top: 70px;
    right: 15px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 0 1px 4px #bababa80;
}

.navbar .bloc-dropdown-utilisateur.is-active
{
    display: block;
}

.navbar .bloc-dropdown-utilisateur .lien-dropdown
{
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.navbar .bloc-dropdown-utilisateur .lien-dropdown .material-icons
{
    margin-right: 16px;
    color: var(--grey);
    font-size: 20px;
}

.navbar .bloc-dropdown-utilisateur .lien-dropdown a
{
    color: var(--grey);
}

.navbar .bloc-dropdown-utilisateur .lien-dropdown a:hover
{
    color: #000;
}

.form-container .row
{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container .row .col.l6,
.form-container .row .col.m6,
.form-container .row .col.s6
{
    width: 47%;
}

.form-container .row .col.l12,
.form-container .row .col.m12,
.form-container .row .col.s12
{
    width: 100%;
}

.form-container .row .col .input-form
{
    padding: 16px 0;
}

.form-container .row .col .input-form label
{
    display: block;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 8px;
}

.form-container .row .col .input-form textarea
{
    min-height: 250px;
    resize: none;
    font-size: 12px;
}

.form-container .row .col .input-form input,
.form-container .row .col .input-form textarea,
.form-container .row .col .input-form select
{
    display: block;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.form-container .row .col .input-form input:focus,
.form-container .row .col .input-form textarea:focus
{
    border: 1px solid #2fa8cd8e;
    box-shadow: 0 0 1px 1px #2fa8cd8e;
    transition-duration: .3s;
}

.form-container .radio
{
    position: relative;
}

.form-container .row .col input[type="radio"]:not(:checked),
.form-container .row .col input[type="radio"]:checked
{
    position: absolute;
    left: 0;
    opacity: 0;
}

.form-container .row .col input[type="radio"]:not(:checked) + label,
.form-container .row .col input[type="radio"]:checked + label 
{
	position: relative;
	padding-left: 2.3em;
	font-size: 1em;
	line-height: 1.5;
    cursor: pointer; 
    color: var(--grey);
}

.form-container .row .col input[type="radio"]:not(:checked) + label::before,
.form-container .row .col input[type="radio"]:checked + label::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: 100%;
	transition: all .275s;
}

.form-container .row .col input[type="radio"]:not(:checked) + label::after,
.form-container .row .col input[type="radio"]:checked + label::after
{
    content: '';
	position: absolute;
    left: 6px;
    top: 6px;
    width: 10px;
    height: 10px;
    background: var(--main_darker);
    border-radius: 100%;
    transition: all .275s;
}

.form-container .row .col input[type="radio"]:not(:checked) + label::after 
{
	opacity: 0;
	transform: scale(0) rotate(45deg);
}

.form-container .row .col input[type="radio"]:checked + label::after
{
	opacity: 1;
	transform: scale(1) rotate(0);
}

footer
{
    color: #FFF;
    padding: 100px 32px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

footer.bg-img
{
    background: url('../img/bg-footer.jpg');
}

footer.bg-color
{
    background: var(--main_darker);
}

footer .bloc-footer
{
    text-align: left
}

footer .bloc-footer a,
footer .bloc-footer span
{
    font-weight: 500;
    display: block;
    padding: 16px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
}

footer .bloc-footer .copyright
{
    font-size: 14px;
    font-weight: 300;
}

/*************************************************************

    CONNEXION/INSCRIPTION

**************************************************************/

.container-connexion
{
    background: url('../img/bg-login-blur.jpg');
}

.container-inscription
{
    background: url('../img/bg-register.jpg');
}

.container-connexion,
.container-inscription
{
    padding: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bloc-connexion
{
    width: 25%;
}

.bloc-inscription
{
    width: 40%;
}

.container-inscription .bloc-formulaire
{
    margin: 100px 0;
}

.bloc-formulaire
{
    margin: 100px auto;
    padding: 32px 64px;
    background: #fff;
    border-radius: 5px;
}

.bloc-formulaire .bloc-logo,
.bloc-formulaire h1
{
    text-align: center;
    font-weight: 500;
}

.bloc-inscription .phrase-accroche
{
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
}

/*.bloc-formulaire .input-form
{
    padding: 16px 0;
}

.bloc-formulaire .input-form.double-input
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.bloc-formulaire .input-form input,
.bloc-formulaire .input-form textarea
{
    display: block;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.bloc-formulaire .input-form input:focus,
.bloc-formulaire .input-form textarea:focus
{
    border: 1px solid var(--info);
}*/

.bloc-connexion .input-form .mot-de-passe-oublie
{
    font-size: 12px;
}

.bloc-formulaire .btn-formulaire
{
    width: 100%;
    padding: 16px;
    font-weight: 700;
    background: none;
    border: none;
    border-radius: 5px;
    background: var(--main_complement);
    color: #FFF;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 32px;
}

.bloc-formulaire .bloc-non-membre
{
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
}

.bloc-formulaire .bloc-non-membre a
{
    color: var(--link);
    font-weight: 600;
    text-decoration: none;
}

.bloc-formulaire .bloc-non-membre a:hover
{
    color: var(--link_hover);
    text-decoration: underline;
}

.bloc-formulaire .bloc-social
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.bloc-formulaire .bloc-social .btn-social
{
    background: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}

.bloc-formulaire .bloc-social .btn-social img
{
    width: 20px;
    margin-right: 8px;
}

.bloc-formulaire .bloc-social .btn-social.btn-facebook
{
    border: 2px solid #3b5998;
    color: #3b5998;
}

.bloc-formulaire .bloc-social .btn-social.btn-facebook:hover
{
    background: #3b5998;
    color: #FFF;
    transition-duration: .3s;
}

.bloc-formulaire .bloc-social .btn-social.btn-google
{
    border: 2px solid var(--border);
    color: #000;
}

.bloc-formulaire .bloc-social .btn-social.btn-google:hover
{
    background: var(--border);
    transition-duration: .3s;
}

/*************************************************************

    LISTE DES PLATS

**************************************************************/

.container-liste-plats .bloc-liste-plats
{
    padding: 32px;
    width: 70%;
    margin: 0 auto;
    background: #FFF;
}

.container-liste-plats .bloc-liste-plats .btn-proposer-plat
{
    display: inline-block;
    background: #FFF;
    color: var(--main_darker);
    border: 1px solid var(--main_darker);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 16px;
}

.container-liste-plats .bloc-liste-plats .btn-proposer-plat:hover
{
    background: var(--main_darker);
    border: 1px solid var(--main_darker);
    color: #FFF;
}

.container-liste-plats .bloc-liste-plats .ajouter-plat .material-icons
{
    margin-right: 8px;
}

.container-liste-plats .bloc-liste-plats .liste-plats
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card
{
    margin-bottom: 32px;
    background: #FFF;
    transition-duration: .3s;
    /*text-align: center;*/
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-img-top
{
    position: relative;
    height: 0;
    padding-bottom: 55.25%;
    border-radius: 8px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-img-top img
{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body
{
    padding: 16px 0;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body div
{
    padding: 8px 0;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .titre a
{
    font-weight: 600;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    transition-duration: .3s;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .titre a:hover
{
    color: var(--main_darker);
    transition-duration: .3s;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .prix
{
    font-size: 14px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .prix .valeur
{
    color: var(--main_darker);
    font-weight: 600;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .prix .euro
{
    font-size: 11px;
    vertical-align: top;
    color: var(--main_darker);
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .prix .reste
{
    text-decoration: underline;
    text-decoration-color: var(--main_darker);
    font-size: 13px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .adresse,
.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .heures,
.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .date-publication
{
    font-size: 12px;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .adresse
{
    text-transform: uppercase;
}

.container-liste-plats .bloc-liste-plats .liste-plats .card .card-body .date-publication
{
    color: var(--grey);
}

/*************************************************************

    PAGE PLAT

**************************************************************/

.container-plat
{
    padding: 32px;
    background: #FFF;
}

.container-plat .bloc-plat 
{
    width: 40%;
    margin: 0 auto;
}

.container-plat .bloc-plat p
{
    font-weight: 700 !important;
}

.container-plat .bloc-plat div::not(.alert)
{
    padding: 8px 0;
}

.container-plat .bloc-plat .titre
{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.container-plat .bloc-plat .vendeur
{
    font-size: 13px;
    font-weight: 400;
    line-height: 2em;
    color: var(--grey);
}

.container-plat .bloc-plat .vendeur a
{
    color: var(--link);
    text-decoration: none;
    font-weight: 600;
}

.container-plat .bloc-plat .vendeur a:hover
{
    color: var(--link_hover);
}

.container-plat .bloc-plat button
{
    border: 1px solid var(--main_darker);
    background: none;
    color: var(--main_darker);
    margin: 24px 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    transition-duration: .3s;
    font-weight: 600;
}

.container-plat .bloc-plat button .material-icons
{
    margin-right: 8px;
    font-size: 17px;
}

.container-plat .bloc-plat button:hover
{
    background: var(--main_darker);
    color: #FFF;
    transition-duration: .3s;
}

.container-plat .bloc-plat .image-plat
{
    margin: 16px 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55.25%;
}

.container-plat .bloc-plat .image-plat img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-plat .bloc-plat .informations div
{
    padding: 0;
}

.container-plat .bloc-plat .informations,
.container-plat .bloc-plat .informations-supplementaires
{
    line-height: 2.7em;
    font-size: 0.9rem;
    color: var(--grey);
    border-bottom: 1px solid var(--border);
    padding: 8px 0;
}

.container-plat .bloc-plat .informations p,
.container-plat .bloc-plat .informations-supplementaires p
{
    color: #000;
    font-weight: 500;
}

.container-plat .bloc-plat .informations .prix
{
    font-weight: 600;
    color: var(--main_darker);
}

.container-plat .bloc-plat table
{
    border-collapse: collapse;
    margin: 0 auto;
}

.container-plat .bloc-plat table thead th,
.container-plat .bloc-plat table tbody td
{
    border: 1px solid var(--border);
    padding: 12px 16px;
    text-align: center;
}

/*************************************************************

    AJOUTER UN PLAT

**************************************************************/

.container-ajout-plat
{
    padding: 0 32px;
}

.container-ajout-plat .bloc-formulaire
{
    width: 60%;
    margin: 0 auto;
}

.container-ajout-plat .bloc-formulaire .separation
{
    width: 100%;
    height: 1px;
    background: var(--border);
}

.container-ajout-plat .bloc-formulaire h1
{
    text-align: left;
    font-weight: 700;
}

.container-ajout-plat .bloc-formulaire .bloc-etape
{
    padding: 32px 0;
    border-bottom: 1px solid var(--border);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 64px;
}

.container-ajout-plat .bloc-formulaire .etape
{
    font-weight: 700;
    color: var(--main_darker);
    line-height: 1.7em;
}

.container-ajout-plat .bloc-formulaire .explication
{
    padding: 16px 0;
    line-height: 1.7em;
    font-size: 14px;
    color: var(--grey);
    font-style: italic;
}

.container-ajout-plat .bloc-formulaire .btn-ajouter-plat
{
    display: block;
    width: 50%;
    box-shadow: none;
    border: 1px solid var(--main_complement);
    background: #FFF;
    color: var(--main_complement);
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .3s;
    margin: 32px auto 0 auto;
}

.container-ajout-plat .bloc-formulaire .btn-ajouter-plat:hover
{
    background: var(--main_complement);
    color: #FFF;
    transition-duration: .3s;
}

/*************************************************************

    VALIDATION DE COMMANDE

**************************************************************/

.container-commande-valide
{
    display: flex;
    align-items: center;
}

.container-commande-valide .bloc-validation
{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-commande-valide .bloc-validation .message-validation
{
    text-align: center;
}

.container-commande-valide .bloc-validation .message-validation-commande
{
    width: 100%;
}

.container-commande-valide .bloc-validation .message-validation-commande .titre
{
    font-weight: 700;
}

/*************************************************************

    MES COMMANDES

**************************************************************/

.container-mes-commandes
{
    width: 50%;
    margin: 0 auto;
}

.container-mes-commandes .commande
{
    margin: 16px 0;
    background: #fafafa;
    padding: 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
    align-items: center;
}

.container-mes-commandes .commande .bloc-gauche
{
    background: #FFF;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #bababa80;
}

.container-mes-commandes .commande .bloc-gauche .etat
{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.container-mes-commandes .commande .bloc-gauche .etat0
{
    color: var(--grey);
}

.container-mes-commandes .commande .bloc-gauche .etat1
{
    color: var(--valid);
}

.container-mes-commandes .commande .bloc-gauche .etat .material-icons
{
    margin-right: 8px;
    font-size: 21px;
}

.container-mes-commandes .commande .bloc-gauche .vendeur
{
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.container-mes-commandes .commande .bloc-gauche .vendeur .bloc-img
{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.container-mes-commandes .commande .bloc-gauche .vendeur .bloc-img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--main_darker);
    padding: 2px;
}

.container-mes-commandes .commande .bloc-gauche .reference
{
    font-size: 12px;
    font-weight: 600;
}

.container-mes-commandes .commande .bloc-gauche .date-commande
{
    font-size: 12px;
    color: var(--grey);
}

.container-mes-commandes .commande .bloc-gauche .recapitulatif ul
{
    padding: 0;
}

.container-mes-commandes .commande .bloc-gauche .recapitulatif ul li
{
    list-style-type: none;
    font-size: 11px;
    padding: 4px 0;
}

.container-mes-commandes .commande .bloc-droit
{
    padding:  0 16px;
}

.container-mes-commandes .commande .bloc-droit .btn-annuler-commande
{
    width: 100%;
    background: var(--error);
    border: 1px solid var(--error);
    color: #FFF;
}

.container-mes-commandes .commande .bloc-droit .btn-modifier-commande
{
    width: 100%;
    background: none;
    border: 1px solid var(--main_complement);
    color: var(--main_complement);
    margin-top: 8px;
}

/*************************************************************

    RESPONSIVE DESIGN

**************************************************************/

@media screen and (max-width: 640px) 
{
    .navbar .bloc-liens
    {
        display: none;
    }
    
    .form-container .row .col.l6,
    .form-container .row .col.m6,
    .form-container .row .col.s6
    {
        width: 100%;
    }

    .container-connexion,
    .container-inscription
    {
        padding: 8px;
    }

    .bloc-formulaire
    {
        width: 100%;
        padding: 32px 16px;
    }

    /*.bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }*/

    .container-liste-plats .bloc-liste-plats
    {
        width: 90%;
        padding: 100px 8px;
    }

    .container-liste-plats .bloc-liste-plats .liste-plats
    {
        grid-template-columns: 1fr;
    }

    .container-plat
    {
        padding: 100px 8px;
    }

    .container-plat .bloc-plat
    {
        width: 100%;
    }

    .container-plat .bloc-plat .vendeur
    {
        margin-top: 8px;
        font-size: 12px;
        color: var(--grey);
    }

    .container-ajout-plat .bloc-formulaire
    {
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px)
{
    .bloc-formulaire
    {
        width: 70%;
    }

    /*.bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }*/

    .container-plat .bloc-plat
    {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px)
{
    .bloc-formulaire
    {
        width: 40%;
    }

    /*.bloc-formulaire .input-form.double-input
    {
        display: block;
        padding: 0;
    }
    
    .bloc-formulaire .input-form.double-input input
    {
        margin: 32px 0;
    }*/

    .container-liste-plats .bloc-liste-plats
    {
        width: 90%;
    }

    .container-plat .bloc-plat
    {
        width: 70%;
    }
}